* {
    width: 99%;
    height: 99%;
    color: #fff;
    background: #000;
    margin: 0 auto;
}

.zhengti {
    width: 100%;
    height: 100%;
}

.neirong {
    width: 100%;
    height: 80%;
    text-align: center;
}

.nr-zuo1 {
    width: 400px;
    height: 100%;
    margin-top: 6%;
    /* background: #922B21; */
    float: left;
}

.nr-zuo1:hover {
    width: 400px;
    height: auto;
    margin-top: 0;
    /* background: #922B21; */
    float: left;
}

.nr-zuo2 {
    width: 400px;
    height: 100%;
    margin-top: 6%;
    /* background: #76448A; */
    float: left;
}

.nr-zuo2:hover {
    width: 400px;
    height: auto;
    margin-top: 0;
    /* background: #76448A; */
    float: left;
}

.nr-zuo3 {
    width: 400px;
    height: 100%;
    margin-top: 6%;
    /* background: #2471A3; */
    float: left;
}

.nr-zuo3:hover {
    width: 400px;
    height: auto;
    margin-top: 0;
    /* background: #2471A3; */
    float: left;
}

.nr-zuo4 {
    width: 400px;
    height: 100%;
    margin-top: 6%;
    /* background: #F1C40F; */
    float: left;
}

.nr-zuo4:hover {
    width: 400px;
    height: auto;
    margin-top: 0;
    /* background: #F1C40F; */
    float: left;
}

.img {
    width: 100%;
    height: 100%;
}